
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(44, 115, 163);
    color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  .logo {
    font-size: 32px;
  }
  
  .menu {
    padding: 0px;
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: rgb(44, 115, 163);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  .menutext {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(44, 115, 163);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  
  .menutext:hover .dropdown {
    display: block;
  }

  .button:hover
  {
      color: #4c9e9e;
  }

  .buttons {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.button1 {background-color: #04AA6D; padding: 10px 50px; font-size: 16px;} /* Green */
.button2 {background-color: #008CBA; padding: 10px 50px; font-size: 16px;} /* Blue */
.button3 {background-color: #f44336; padding: 10px 50px; font-size: 16px;} /* Red */
.button4 {background-color: #e7e7e7; color: black; padding: 10px 50px; font-size: 16px;} /* Gray */
.button5 {background-color: #555555; padding: 10px 50px; font-size: 16px;} /* Black */